.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    background-color: #1e1e2f;
    box-shadow: 0 5px 8px rgb(251, 201, 201);
    color: white;
    flex-wrap: wrap;
    
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-icons {
    display: flex;
    list-style: none;
    gap: 70px;
    padding: 0;
    margin: 0;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon-img {
    font-size: 1.5rem;
}

.tooltip {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}

.icon:hover .tooltip {
    opacity: 1;
}

.premium-badge {
    background-color: gold;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}